{% extends "base.html.twig" %}

{% block title %}Home page{% endblock %}
{% block title_header %}Home{% endblock %}

{% block content %}

<main style="min-height: 75vh" class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="px-0">
      <h1 class="display-4 fst-italic">Bienvenue sur mon site !</h1>
    </div>
  </div>

  <div class="my-4">
      <h2 class="display-5 link-body-emphasis mb-1">Le paradis</h2>
      <hr>
      <p class="lead">Mon restaurant</p>
      <p class="lead">
        Si vous voulez dégustez de très bon plats je vous invite à venir dans mon petit paradis</p>
      <p class="lead">
        Venez goûter c'est super bon</p>
        
      <p class="display-6">Regardez la carte dès maintenant !</p>
        <a class="btn btn-lg btn-secondary" href="/menus">Voir les menus !!</a>
      </p>

      <p class="display-6">Venir chez nous</p>
        <a class="btn btn-lg btn-secondary" href="/reservation">Réserver</a>
      </p>
      
      {% if app.user %}
        <p class="display-6">Vos réservations</p>
        <a class="btn btn-lg btn-secondary" href="/reservations">Voir réservations</a>
        </p>
        <p class="display-6">Administrer l'application</p>
        <a class="btn btn-lg btn-secondary" href="/admin/dashboard">Dashboard</a>
        </p>
      {% endif %}
  </div>
</main>
{% endblock content %}
