{% if reservations|length != 0 %}
<div class="row my-4">
    <h2 class="display-5 link-body-emphasis mb-1">Menus</h2>
    <hr>
  {% for reservation in reservations %}
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary-emphasis">Merveilleux</strong>
        <h3 class="mb-0">{{ reservation.name }}</h3>
        <p class="card-text mb-auto">{{ reservation.firsName }}</p>
        <p class="card-text mb-auto">{{ reservation.email }}</p>
        <p class="card-text mb-auto">{{ reservation.date }}</p>
      </div>
      <div class="col-auto d-none d-lg-block">
        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

{% if reservations|length == 0 %}
<div class="row mb-2">
  <h2 class="display-5 link-body-emphasis mb-1">Menus</h2>
  <hr>
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary-emphasis">IA</strong>
        <h3 class="mb-0">Vide</h3>
        <p class="card-text mb-auto">Rien a voir ici... pour le moment !</p>
      </div>
    </div>
  </div>
</div>
{% endif %}