{% extends "base.html.twig" %}

{% block title %}Reservations page{% endblock %}
{% block title_header %}Reservations{% endblock %}

{% block content %}

<main style="min-height: 75vh" class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">Reservations page</h1>
      <p class="lead my-3">Here will be displayed all your past and current reservations.</p>
      <a class="btn btn-lg btn-secondary" href="/home">Return to Home</a>
    </div>
  </div>

  {% include 'user_reservation/list.html.twig' with {reservations : reservations|default([])} %}

</main>
{% endblock content %}
